<div>
  <h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </h1>
</div>
<center><small><%= link_to "(This page intentionally left blank)", story_story6_path %></small></center>
<div>
  <h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </h1>
</div>
