
<h1>At last, the DUNKbond</h1>

<h4>
	As of February 2013, $1 gets you a DUNKbond. <br>
	When you buy a DUNKbond, you agree to pledge at most $1 to the charity of your choice.<br>
	This being the last month, they'll either pay back or they won't.<br>(Before February, DUNKbonds paid back $1 each DUNK-free month.)<br>
	<br>
	You can bet for or against the goal by buying, selling, or swapping DUNKbonds.  If you're curious, <%= link_to "Here's how that works.", about_howitworks_path %>.
	<br>
	So, <%= link_to "sign up", new_user_registration_path  %>, decide on your cause, and bet against me and my ridiculous goal.  
	<br>
	<br>
	<strong>But what about all the Sad Ninjas and their goals? </strong><br>
	Good news, sad ninja.  You can now set up your own goal and sell its very own DUNKbonds.  Drop me a line and we'll set you up.  
	<br>
	<br>

	Thanks,<br>

	Aaron <br>
</h4>
<div class="container">
	<div class="span-7 prepend-5 last">
		<%= link_to "Come on in", home_index_path, :class => "big_button round" %>
	</div>
</div>
<br>
