<h3>
I want to Dunk.
</h3>
<h4>
A basketball.  <br>
On a regulation hoop.  <br>
Without a trampoline.  <br>
<br>
So, I did some research:<br>
<br>
<strong>Ways to Dunk:</strong>  <BR>
1. Be tall.<BR>
2. Jump high.&nbsp <br>
<br>
I've spent 20 odd years working on getting taller, so now I'm focusing on the jumping.  <br>
</h4>
<h3>This is, of course, a ridiculous goal.
<p>
<center>   <%= link_to "Duh.", story_story4_path %></h3></center>

