<h3>Those goals are !%$#@ing <i>brutal.</i><sup>1</sup></h3>

<div>
<h4>
Chances are these folks are not only training to challenge themselves but also to support some cause larger than themselves. <p>
<p>
And they often team up with some organization that can help them garner support, hold them accountable to their challenge, and raise funds for the cause.  <p>
<p>
But what about people with other difficult goals? 
<br>

<ul>
  <li>Climbing El Capitan</li>
  <li>Getting into (and hopefully out of) an unpronounceable yoga pose</li>
  <li>Becoming a Ninja  </li>
</ul>

We don't hear so much about these people, but they need love, too.  (Especially the Ninjas.)<br>
<%= image_tag "story/sadninja.jpg" %>

<p>
I built DUNKbonds for the all the Sad Ninjas<sup>2</sup> who want to publicly state their goal, be held accountable by their friends and family, be recognized for their efforts, and raise money for the causes they care deeply about (probably the International Invisibility Institute).
<p>

</h4>
<h3>And I'm starting it off with <%= link_to "my goal.", story_story3_path %></h3>
</div>

<hr>
<sup>1</sup><a href=" http://www.youtube.com/watch?v=ZUG9qYTJMsI&t=12s" target="_blank">due credit.</a>
<p>
<sup>2</sup>Sad Ninjas both literal and figurative.
