<h1>%$#@! your logic.
</h1>
<h4>
I'm going for it, and I'm giving myself a deadline:  March 1, 2013. <br>
That's 10 months from May 1, 2012, when I launched this site. <br>
<br>

If you're so confident I'll fail, put your money where your mouth is.  <br>
<br>

This will be HARD.  I'm making sacrifices for this, so I'm asking you to do the same.  However, as far as the cause goes, I'm leaving that up to you.  So, pick a cause you care about, name your pledge, and bet on my ridiculous goal.  <br>
<br>

The sooner I dunk, the more you donate.<br>
The longer it takes, the more you keep.&nbsp <br>
If I don't get it done by March, you're off the hook.&nbsp <br>
<br>
Let's say you pledged $10 in May.  Your pledge decreases a buck every month until I dunk or until my deadline.&nbsp If and when I do dunk, the music stops, and you pledge the rest to your cause.&nbsp <br>

<br>
Perhaps you fancy a chart. 

<%= image_tag "story/10to1monthramp.png", :alt => "pledge ramp" %><br>
<br>

It's a bit like a loan to your cause.  Or a bond.  You're lending up front, and you get paid back over time.  But if unthinkable happens (me dunking), the loan goes bad, the bonds default, and your charity gets the rest.  <br>
<br>

<center><h3>Enter the DUNKbond</h3></center>
</h4>

