<% unless user_signed_in? %>
  <div class="guest_banner"><center>You are browsing DUNKbonds as a guest user.&nbsp <%= link_to "Login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to participate. </center></div>
<% end %>
