<tr class="order">
  <td class="number"><%= link_to "Order #{order.id}", order %></td>
  <table class="line_items">
    <tr>
      <th>Status</th>
      <th>Type of</th>
      <th>Max bid min ask</th>
      <th>Goal</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render order.line_items %>
  </table>
</tr>
