<div class="goalbox">
<%= link_to "Order #{order.id}", order %>
<% (order.line_items.group_by {|li| li.account.goal}).sort.each do |goal, line_items| %>
<div class="goalbox">
  <%= link_to goal.title, goal %>
  <table>
    <tr>
      <th>Status</th>
      <th>Request Type</th>
      <th>Quantity</th>
      <th>Price</th>            
      <th>Subtotal</th>                        
      <th></th>
    </tr>
    <%= render line_items %>
  </table>
</div>
<hr class="space">
<% end %>
</div>
<hr class="space">



