<h1>New order</h1>


<table>
  <tr>
    <th>Line Item Account</th>
    <th>Status</th>
    <th>Type of</th>
    <th>Max bid min ask</th>
    <th>Goal</th>
    <th>Cart</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render current_cart.line_items %>
</table>


<h4>
Finalize Order
</h4>
<%= render 'form' %>

<%= link_to 'Back', @order %>
