<h3> Order <%= @order.id %> </h3>

<table class="line_items">
  <tr>
    <th>Status</th>
    <th>Type of</th>
    <th>Max bid min ask</th>
    <th>Goal</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @line_items %>
</table>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
