<% unless post.body.nil? %>
<div>
<hr>
<span id="title">
  <h3><%= link_to post.title, [post.goal, post] %></h3>
</span>
<span id="body">
  <h4><%= post.body %><h4>
</span>
</div>
<% end %>
