<div class=span-16 last>
	<% unless @posts.empty? %>
	<%= render :partial => 'shared/post', :collection => @posts %>
	<h4><%= will_paginate %></h4>
	<% else %>
	<em>No blog posts to show.</em>
	<% end %>
</div
<hr class="space">
