<h1>Listing posts</h1>

<table class="posts">
  <tr>
    <th>Goal</th>
    <th>Title</th>
    <th>Content</th>
    <th>Url</th>
    <th>Published_at</th>
    <th>Guid</th>
    <th>Is visible</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @posts %>
</table>

<br />

<%= link_to 'New Account', new_goal_post_path(@goal) %>
