<h1>Credits</h1>
Learning to build this sort of thing is a humbling experience.  Many thanks to lots of people on my road to launch it by May, (and completely rebuild it the right[er] way before DUNKdeadline) some of which I will probably forget to mention below:
<br>
<br>
<b>Bonds and Trading Concepts</b>:
<ul>
  <li>Jordan Gold</li>
  <li>Michael Feehan</li>
</ul>
<b>Tough Love:  Database Consultant</b>:
<ul>
  <li>Bon Shih</li>
</ul>
<b>Rails help</b>:
<ul>
  <li>Scott Johnson</li>
  <li>Rob Punkunus</li>
  <li>Railstutorial.org</li>
</ul>
<b>Tough Love:  Messaging</b>:
<ul>
  <li>Mateo Rando</li>
  <li>Jessi Reese</li>
</ul>
<b>Random Support, Encouragement</b>:
<ul>
  <li>Jessi Reese</li>
  <li>Neil Kapadia</li>
</ul>
<b>Tolerance & Patience</b>:
<ul>
  <li>Heather</li>
  <li>Ruby & James</li>  
</ul>
<b>...more as I regain my mind.</b>

