<h2>How this all Works</h2>

Bear with me.  I'll probably add some drawings to help explain this, but I'm pressed for time. <p>

<h4>First, The Honor System</h4>

DUNKbonds does not actually take, hold, or pay any money.  It's merely a scoreboard, and according to the honor system, you should own up to any charitable giving you might incur through DUNKbonds.  Huh?  Read on.  Better yet, read <%= link_to 'how this all got started', story_story1_path %>.
<p>
<h4>Bonds and Goals</h4>

Goals are either going to be met or not. 
</p>
<p>
Bonds, in a traditional sense, are like a loan.  Ideally they pay back, but sometimes the debtor defaults.  What if the bond is tied to the outcome of the goal?  
</p>
<p>
Buying a DUNKbond on a goal means you're sort of lending money, and debtor owes you the full face value of the bond. 
</p>
<p>
If the goalsetter meets his goal, bonds pay back in full. 
</p>
<p>
If the goal isn't met, the bonds go bust and don't pay back.
</p>
<p>
When you buy a DUNKbond, you basically pledge that you'll donate to charity unless the goal is met, in which case you're off the hook.  
</p>
<p>
That all sounds like a bet against a goal being met, and that's exactly what it is.  
</p>
<p>
<h4>The Secondary Market</h4>
<p>
Where it gets interesting is when you buy <i>used</i> bonds based on your expectation of whether or not they'll pay back.  
</p>
<p>
If you think a goal is 50% likely to be met, your expected value of that bond is 50% of its face value, so you might try to buy one for 50% off (or, even better, less than that).  
</p>
<p>
The trading price of a bond is how the market feels about the goal.  
</p>
<p>
Now, someone has to sell the used bonds, right?  Right.  That's where the other side of the bet comes in. 
</p>
<p>
Since bonds are a bet against, what about a bet <i>for</i> the goal?  
</p>
<p>
<h4>Swaps</h4>

Think about the word Bond.  It's an agreement between two parties in which a creditor will lend funds to a debtor, and the debtor will pay back the creditor.
</p>
<p>
When someone buys a bond, they become a creditor.  Someone else is the debtor, and the debtor has the exact opposite interest than the debtor.  
</p>
<p>
The debtor wants the goal to be met so he doesn't have to pay back his creditor. 
</p>
<p>
If buying a DUNKbond is a bet against a goal, how do we bet for it?  By being a debtor.  In finance, (I'm botching this and taking some liberty  here), the opposite of a bond is a swap.  
</p>
<p>
Buying a swap happens in two steps: 
</p>
<p>
First, you buy the rights to sell a bond and become its debtor.  
</p>
<p>
In our case, if a goal bond costs $10 face value, then for $10 you get the right to sell a bond.  You can sell the Bond-end of it for $4 or $6, or $8 to someone who wants a bond.  You just have to pay back $10 if the goal isn't met.  Yes, in your best case, you're down a few bucks, and in the worst case, you're down a few plus $10, but remember, this is all about losing money to charity.  You just want to lose less than the market.  
</p>
<p>
The point is that if you feel good about a goal, buy a Swap.  The way I'm working it is that you don't pay anything until you sell the bond end of it.  They're linked, the bond-sale and the swap.  
</p>
<p>
That probably didn't help much, but I'll get back to this later on.  
