<h1>The Rules</h1>
<h3>In no particular order</h2>
<h4>
<strong>Real Money vs. The Honor System:</strong> 
  <ul>
    As you may have noticed, I'm not taking payments, linking to paypal, authorizing credit cards, or otherwise asking for actualy money at this stage, and I may never do so.  This is the case due to various concerns and questions that I have, not limited to data security, gambling law, tax law, etc.  Perhaps I'll implement this later, but for now, consider this to be on the Honor System, and should a goalsetter meet his or her goal, I expect you to do the right thing and pledge to your designated cause.  
  </ul>
<strong>General:</strong>  
<ul>
  <li>"New" bonds always cost at most what they could pay you back.  </li>
</ul>

<strong>Bond Market rules:</strong>
<ul>
  <li>    Primary market:  You must buy a "new" bond before you can buy a "used" one (through trading).  This ensures that my donation pool grows with each new participant.</li>
  <li>    Trading:  Once you own a bond, you can place Bids (to buy) and Asks (to sell).</li>
  <li>        Bids:  <br>
    A bid equal or greater than the going "new" price will buy a new bond, and the order will execute.  
    A bid lower than the new price will only clear if/when a compatible ask exists.  </li>
  <li>
    Asks:<br>
    You cannot sell a bond twice (the site should prevent it anyhow).  If you have two bonds, you can't put a third ask order in your Cart.   <br>
  </li>
  <li>
    Trading scenarios:<br>
    You may have discovered that there is a way to trade and wind up ahead, so that you would theoretically make money.  I'm currently undecided on how to treat this, but I'm fairly sure I can't have people making any money off of this.  Incentives be damned.  I'll be thinking about some way to work it.  
  </li>
  <li>
    Order Expiration:<br>
    Pending orders will expire at the end of each month.  This is because at the beginning of each month, bonds are repriced.  Therefore, if the price changed, and you put in a bid for $1 less than the new price, you'd suddenly have a bond on your hands when you really wanted one at a discount.  To avoid this, I just cancel orders at the end of the month.  You can place a new one in its place at your desired price.  
  </li>
</li>
</ul>





</h4>
