<h3>Why set a goal with DUNKbonds?</h3>
	<p>
DUNKbonds provides motivation and accountability to goalsetters by showing them how everyone feels about whether or not they'll meet their goal.  It all happens through their goal's prediction market	</p>
<%= render 'for_goalsetters' %>