<h3>Why set a goal with DUNKbonds?</h3>
	<p>
		DUNKbonds provides motivation and accountability to goalsetters by allowing them to tap into how everyone feels about whether or not they'll succeed by means of a prediction market around their goal.  
	</p>
<%= render 'for_goalsetters' %>