<h3>Why would I want to buy DUNKbonds?</h3>
<p>	
	DUNKbonds probably isn't for everyone.  That's OK.  
</p>
<p>	
	If you're the kind of person who blindly kicks in when a friend asks you to donate to their cause, that's commendable.  <p>And a little boring.
</p>
<p>	
	However, if you're the kind of person who likes to be right, and you might form an opinion when someone presents his charitable goal, this might be right up your alley.
</p>
<p>	
	The days of simply chucking in $25 to someone's marathon are over.  DUNKbonds lets you get in on the action by tying your pledge amount to their performance.
</p>
<p>
	For those on the sidelines looking to cheer on or challenge a goalsetter, you get to compete against the market in the name of a charity you or your goalsetter chooses.  You essentialy set up a maximum pledge by buying, selling, or trading a goal's DUNKbonds.
</p>
<p>	
	The more right or wrong you are about a goal determines how much you pledge.  Beat the market and you donate less--others end up donating on your behalf.  Guess wrong, and you owe your max pledge.  
</p>
<p>

</p>
</div>
</div>
<hr class="nospace">