<h3>Followed Goals</h3>
<table class="followed_goals">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @followed_goals %>
</table>

<h3>Other Goals</h3>
<table class="unfollowed_goals">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @unfollowed_goals %>
</table>

<h3>All Goals</h3>
<table class="all_goals">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @goals %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
