<h1>Listing line_items</h1>

<table class="line_items">
  <tr>
    <th>Status</th>
    <th>Type of</th>
    <th>Quantity</th>
    <th>Bid/Ask Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @line_items %>
</table>

<br />

<%= link_to 'New Line item', new_line_item_path %>
