<h3>Your Trade Requests with this goal</h3>

<table class="line_items">
  <tr>
    <th>Status</th>
    <th>Type of</th>
    <th>Quantity</th>
    <th>Bid/Ask Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @line_items %>
</table>

<br />
