<table class="line_items">
  <tr>
    <th>Account</th>
    <th>Status</th>
    <th>Type of</th>
    <th>Max bid min ask</th>
    <th>Goal</th>
    <th>Cart</th>
    <th>Order</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @line_item %>

</table>

<%= link_to 'Edit', edit_goal_line_item_path(@goal, @line_item) %> |

