<table class="line_items">
  <tr>
    <th>Status</th>
    <th>Type of</th>
    <th>Max bid min ask</th>
    <th>Account</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @line_item %>

</table>

<%= link_to 'Edit', edit_account_line_item_path(@account, @line_item) %> |

