<header>
  <%= outside? ? link_to(logo, root_path) : link_to(logo, home_index_path) %>
  <nav class="round">
    <ul class="span">
      <%= render 'shared/navigation' %>
    </ul>
  </nav>
</header>

