<div class="account_form">
  <%= form_for([@goal, @account]) do |f| %>
  <div class="field">
    <%= f.hidden_field :goal_id, :value => params[:goal_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :is_treasury, :value => @account.is_treasury |= false %>
  </div>
  <div class="actions">
    <%= f.submit "Follow This Goal" %>
  </div>
  <% end %>
</div>
